body{
    background-color: lightgray;
    margin: 0px;
    color: darkmagenta;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6em;
    text-align: center;
    font-size: 12px;
}

.container{
    margin: auto;
    width: 80%;
    overflow: hidden;
}

.container h1{
    font-size: 40px;
    font: bold;
    line-height: 1.6em;
}

#mainHeader{
    background-color: lightskyblue;
    color: darkred;
    text-align: center;
}

#navBar{
    background-color: coral;
}

#navBar ul{
    padding: 0px;
    list-style: none;
}

#navBar li{
    display: inline;    /*muestra los elementos de la lista uno al lado del otro*/
    margin-left: 30px;
}

#navBar a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding-right: 15px;     
}

#showcase{
    background-image: url('../img/showcase.png');
    background-position: center, top;
    background-repeat: no-repeat;
    height: 100%; /*usare porcentaje para que el tamaño se rija por el contenido del showcase*/
    /*min-height: 300px; /*fija el tamaño minimo pero permite que el showcase crezca con el conternido*/
    margin-bottom: 30px;
}

#showcase h1{
    font-size: 50px;
}

#main{
    float: left;
    width: 70%;
    padding-right: 10px;
    box-sizing: border-box;
    text-align: justify;
}

#main h1{
    font-size: 16px;
    text-align: center;
}

#sidebar{
    float: right;
    width: 30%;
    padding-left: 10px;
    box-sizing: border-box;
    background-color: darkgray;
    text-align: justify;
}


#mainFooter{
    background: coral;
    text-align: center;
    color: black;
    position: relative;
    font: 18px bold;
    margin-top: 100px;
}

@media(max-width:600px){
   
    #main{
        width: 100%;
        float: none;
    }

    #navBar li{
        margin-left: 10px;
    }

    #sidebar{
        width: 100%;
        float: none;
        margin-top: 10px;
    }
} /*los styles en el mediaquery solo va a afectar a estos elementos si son de tamaño menor a 600px*/
